.todoListDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FBDDD2;
    height: 70vh;
}

.todoItems {
    list-style: none;
}